@charset "ytf-8";
* {
  box-sizing: border-box;
}
.rainbow {
  border: 1px solid white;
  overflow: hidden;
  height: 200px;
}
.rainbow > div {
  border: 1px solid hsl(0, 50%, 50%);
  width: 400px;
  height: 400px;
  background: red;
  border-radius: 50%;
}
.rainbow > div > div {
  border: 1px solid hsl(30, 63%, 48%);
  background: hsl(30, 50%, 50%);
  height: 380px;
  margin: 10px;
  border-radius: 50%;
}
.rainbow > div > div > div {
  border: 1px solid hsl(60, 50%, 50%);
  background: hsl(60, 50%, 50%);
  height: 360px;
  margin: 10px;
  border-radius: 50%;
}
.rainbow > div > div > div > div {
  border: 1px solid hsl(120, 50%, 50%);
  background: hsl(120, 50%, 50%);
  height: 340px;
  margin: 10px;
  border-radius: 50%;
}
.rainbow > div > div > div > div > div {
  border: 1px solid hsl(180, 50%, 50%);
  background: hsl(180, 50%, 50%);
  height: 320px;
  margin: 10px;
  border-radius: 50%;
}
.rainbow > div > div > div > div > div > div {
  border: 1px solid hsl(240, 50%, 50%);
  background: hsl(240, 50%, 50%);
  height: 300px;
  margin: 10px;
  border-radius: 50%;
}
.rainbow > div > div > div > div > div > div > div {
  border: 1px solid hsl(300, 50%, 50%);
  background: hsl(300, 50%, 50%);
  height: 280px;
  margin: 10px;
  border-radius: 50%;
}
.rainbow > div > div > div > div > div > div > div > div {
  border: 1px solid hsl(0, 0%, 100%);
  background: rgb(255, 255, 255);
  height: 260px;
  margin: 10px;
  border-radius: 50%;
}
